<footer>

  <div>

    <h2>{{ site.title }}</h2>

    <div>
      <div>
        <ul>
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div>
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>

<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>